body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    padding: 0 20px 30px 0;
    line-height: 1.8;
    font-stretch: extra-expanded;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20%;
    font-weight: 900;
    font-stretch: ultra-expanded;
}

.flex-container{
    margin-top: 100px;/*changed */
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 400px;
    justify-content: center;
    transition: 2s all ease;
    position: relative;
    align-items:last baseline;/*changed */
}

.controls-bottom{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}


.btn{
    height: 50px;
    width:90px;
    color: white;
    background-color:  #6b5b95;
    border: none;
}

.btn:hover{
    background-color: cadetblue;
    color: black;
}
.btn:active{
    opacity:0.6;
}

.flex-item{
    background:  #6b5b95;
    opacity: 1;
    border: 2pt solid #202528;
    width: 30px;
    transition: 0.1s all ease;
    position: relative;
}

.bar-label{
    position: absolute;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    color: white;
    background: transparent;
    pointer-events: none;
}


.row{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1.5fr;
}

#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    width: 400px;
}
