*{
  margin: 0px;
  padding:0px;
  box-sizing: border-box;
  background-color:#202528;
}
.header{
  font-size: 30px;
  text-align: center;
  margin-top: 40px;
}
h1{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 20%;
  font-weight: 900;
  font-stretch: ultra-expanded;
  color: #fff;
}
#bar_container{
  height: 300px;
  width:598px;
  margin: auto;
  position: relative;
  margin-top: 170px;
}
.bar{
  width: 25px;
  background-color: #6b5b95;
  justify-content: center;
  position: absolute;
  bottom:0px;
  transition: 0.2s all ease;
}
.bar_size{
  position:absolute;
  color: #fff;
  margin-top: -20px;
  width:100%;
  text-align: center;
}
#bar_pos_container {
  height: 20px;
  width: 598px;
  margin: auto;
}
.position{
  width: 25px;
  background-color: darkgray;
  position: absolute;
  transition: 0.2s all ease;
}
.bar_position{
  position:absolute;
  color: #fff;
  margin-top: 1px;
  width:100%;
  text-align: center;
}
.textClass{
  color:#fff;
}
input[type="text"] {
  background-color: #fff;
  color: #000;
}
input[type="button"] {
  background-color:#fff;
  color: #000;
  padding: 4px;
  cursor: pointer;
}
input[type="button"]:hover {
  background-color:#6b5b95;
  color:#fff;
  padding: 4px;
}
input[type="button"]:active {
  opacity: 0.6;
}
button{
  cursor: pointer;
  background-color:#fff;
  color: #000;
  padding: 4px;
}
button:hover{
  background-color:#6b5b95;
  color:#fff;
  padding: 4px;
}
button:active{
  opacity:0.6;
}
div[type="textOut"] {
  color:aquamarine;
}
#input{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  width: 400px;
  margin-top: -50px;
}
#speed{
  color: #fff;
}
#size{
  color: #fff;
}

#Asize{
  display: flex;
  padding: 10px;
  justify-content: space-around;
  width: 400px;
  margin-top: -10px;
}