
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    background-color:#202528;
}
h3{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    color:beige;
}

h2{
    position: absolute;
    padding: 10 10px;
    top : 10%;
    font-size: 60px;
    color:beige;
    cursor: pointer;
    margin-top: 0px;
    margin-bottom: 20px;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
       }

.btn {
    display:inline-flex;
    padding: 10px;
    border: none;
    border-radius: 40px;
    margin: 3px;
    cursor: pointer;
    font-size: 20px;
    color:bisque;
    background-color: #6b5b95;
    border-color: #202528;
    justify-content: center;
    transition: background-color 0.3s;
}

.btn:hover{
    background-color: cadetblue;
    color: black;
}

.btn:active{
    opacity:0.6;
}

h2:hover,p:hover{
    color:cadetblue;
}

.home{
    display:flex;
    margin-top: 2%;
    margin-left: 47%;
}

.select{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.description{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 20px;
    color: beige;
    align-items: center;
}
